<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tact</title>
  </head>
  <body>
  <h1>Featurepreneur</h1>
  <h3>Fill your Comment</h3>
  <p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
     {% for message in messages %}
       <div class="alert alert-primary">
        <strong>{{ message }}</strong>
      </div>
     {% endfor %}
      {% endif %}
    {% endwith %}
   </p> 
<form method="post" action="/upload" enctype="multipart/form-data">
 <p>Name : <input type="text" name="txtusername" value="" placeholder="name" required> </p>
 <p>Email : <input type="email" name="inputEmail" placeholder="Email address" required></p>
 <p>Comment : <input type="text" name="txtcomment" value="" placeholder="" required> </p>
    <p>
  <input type="submit" value="Submit">
 </p>
</form>


 
<style>
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
</style>
    </body>
</html>

